In [1]:
# Import necessary libraries
import numpy as np
import pandas as pd

In [43]:
# Read in file using pandas
candy = pd.read_excel("CANDY-HIERARCHY-2015-SURVEY-Responses.xlsx")
candy.head()

,Timestamp,How old are you?,Are you going actually going trick or treating yourself?,[Butterfinger],[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],[Bonkers],[Bottle Caps],...,[Necco Wafers],"Which day do you prefer, Friday or Sunday?",Please estimate the degrees of separation you have from the following folks [Bruce Lee],Please estimate the degrees of separation you have from the following folks [JK Rowling],Please estimate the degrees of separation you have from the following folks [Malala Yousafzai],Please estimate the degrees of separation you have from the following folks [Thom Yorke],Please estimate the degrees of separation you have from the following folks [JJ Abrams],Please estimate the degrees of separation you have from the following folks [Hillary Clinton],Please estimate the degrees of separation you have from the following folks [Donald Trump],Please estimate the degrees of separation you have from the following folks [Beyoncé Knowles]
0,2015-10-23 08:46:20.451,35,No,JOY,NaN,DESPAIR,JOY,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-10-23 08:46:51.583,41,No,JOY,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,...,DESPAIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-10-23 08:47:34.285,33,No,DESPAIR,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,DESPAIR,...,DESPAIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-10-23 08:47:58.964,31,No,JOY,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,...,DESPAIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-10-23 08:48:11.719,30,No,NaN,JOY,DESPAIR,JOY,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

***Chapter 7 Tasks***

In [44]:
# Remove any columns that have all NA values and save change inplace
candy.dropna(axis=1, how='all', inplace=True)
candy.head()

,Timestamp,How old are you?,Are you going actually going trick or treating yourself?,[Butterfinger],[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],[Bonkers],[Bottle Caps],...,"Fill in the blank: ""Imitation is a form of ____________""",Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"[Sea-salt flavored stuff, probably chocolate, since this is the ""it"" flavor of the year]",[Necco Wafers],"Which day do you prefer, Friday or Sunday?"
0,2015-10-23 08:46:20.451,35,No,JOY,NaN,DESPAIR,JOY,NaN,NaN,NaN,...,Lazily flattering someone,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,1,NaN,NaN,NaN
1,2015-10-23 08:46:51.583,41,No,JOY,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,...,Laziness,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,JOY,DESPAIR,NaN
2,2015-10-23 08:47:34.285,33,No,DESPAIR,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,DESPAIR,...,Lazily flattering someone,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,JOY,DESPAIR,NaN
3,2015-10-23 08:47:58.964,31,No,JOY,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,...,Lazily flattering someone,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,JOY,DESPAIR,NaN
4,2015-10-23 08:48:11.719,30,No,NaN,JOY,DESPAIR,JOY,NaN,NaN,NaN,...,Lazily flattering someone,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,NaN,NaN,NaN

In [13]:
# We can see that 9 columns were dropped for only containing NA values
# Now lets change the values given to the feeling about candy and make them quantitative. 
candy.replace({JOY: 5, MEH: 3, DESPAIR: 1})
candy.head()

NameError: name 'JOY' is not defined

In [9]:
# Whoops, guess I have to put those strings in quotations.
candy.replace({'JOY': 5, 'MEH': 3, 'DESPAIR': 1}, inplace=True)
candy.head()

,Timestamp,How old are you?,Are you going actually going trick or treating yourself?,[Butterfinger],[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],[Bonkers],[Bottle Caps],...,[Necco Wafers],"Which day do you prefer, Friday or Sunday?",Please estimate the degrees of separation you have from the following folks [Bruce Lee],Please estimate the degrees of separation you have from the following folks [JK Rowling],Please estimate the degrees of separation you have from the following folks [Malala Yousafzai],Please estimate the degrees of separation you have from the following folks [Thom Yorke],Please estimate the degrees of separation you have from the following folks [JJ Abrams],Please estimate the degrees of separation you have from the following folks [Hillary Clinton],Please estimate the degrees of separation you have from the following folks [Donald Trump],Please estimate the degrees of separation you have from the following folks [Beyoncé Knowles]
0,2015-10-23 08:46:20.451,35,No,5.0,NaN,1.0,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-10-23 08:46:51.583,41,No,5.0,5.0,1.0,5.0,1.0,1.0,5.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-10-23 08:47:34.285,33,No,1.0,1.0,1.0,5.0,1.0,1.0,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-10-23 08:47:58.964,31,No,5.0,5.0,1.0,5.0,1.0,1.0,5.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-10-23 08:48:11.719,30,No,NaN,5.0,1.0,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

***Chapter 8 Tasks***

In [2]:
# Import necessary libraries
import numpy as np
import pandas as pd

In [1]:
# Read in file using pandas
metobs = pd.read_excel("metobs.xlsx")
metobs.head()

NameError: name 'pd' is not defined

In [5]:
# Now I'm going to add hierarchical indexing by Repository first and Object Number second
metobs1 = metobs.set_index(['Repository', 'Object Number'])
metobs1.head()

                                                        Is Highlight  \
Repository                               Object Number
Metropolitan Museum of Art, New York, NY 1979.486.1              0.0
                                         1980.264.5              0.0
                                         67.265.9                0.0
                                         67.265.10               0.0
                                         67.265.11               0.0

                                                        Is Public Domain  \
Repository                               Object Number
Metropolitan Museum of Art, New York, NY 1979.486.1                  0.0
                                         1980.264.5                  0.0
                                         67.265.9                    0.0
                                         67.265.10                   0.0
                                         67.265.11                   0.0

                                                        Object ID  \
Repository                               Object Number
Metropolitan Museum of Art, New York, NY 1979.486.1           1.0
                                         1980.264.5           2.0
                                         67.265.9             3.0
                                         67.265.10            4.0
                                         67.265.11            5.0

                                                               Department  \
Repository                               Object Number
Metropolitan Museum of Art, New York, NY 1979.486.1     The American Wing
                                         1980.264.5     The American Wing
                                         67.265.9       The American Wing
                                         67.265.10      The American Wing
                                         67.265.11      The American Wing

                                                       Object Name  \
Repository                               Object Number
Metropolitan Museum of Art, New York, NY 1979.486.1           Coin
                                         1980.264.5           Coin
                                         67.265.9             Coin
                                         67.265.10            Coin
                                         67.265.11            Coin

                                                                               Title  \
Repository                               Object Number
Metropolitan Museum of Art, New York, NY 1979.486.1     One-dollar Liberty Head Coin
                                         1980.264.5     Ten-dollar Liberty Head Coin
                                         67.265.9         Two-and-a-Half Dollar Coin
                                         67.265.10        Two-and-a-Half Dollar Coin
                                         67.265.11        Two-and-a-Half Dollar Coin

                                                       Culture  Period  \
Repository                               Object Number
Metropolitan Museum of Art, New York, NY 1979.486.1        NaN     NaN
                                         1980.264.5        NaN     NaN
                                         67.265.9          NaN     NaN
                                         67.265.10         NaN     NaN
                                         67.265.11         NaN     NaN

                                                        Dynasty  Reign  ...  \
Repository                               Object Number                  ...
Metropolitan Museum of Art, New York, NY 1979.486.1         NaN    NaN  ...
                                         1980.264.5         NaN    NaN  ...
                                         67.265.9           NaN    NaN  ...
                                         67.265.10          NaN    NaN  ...
                                         67.265.11          NaN    NaN  ...

                                                        Subregion Locale  \
Repository                               Object Number
Metropolitan Museum of Art, New York, NY 1979.486.1           NaN    NaN
                                         1980.264.5           NaN    NaN
                                         67.265.9             NaN    NaN
                                         67.265.10            NaN    NaN
                                         67.265.11            NaN    NaN

                                                       Locus Excavation River  \
Repository                               Object Number
Metropolitan Museum of Art, New York, NY 1979.486.1      NaN        NaN   NaN
                                         1980.264.5      NaN        NaN   NaN
                                         67.265.9        NaN        NaN   NaN
                                         67.265.10       NaN        NaN   NaN
                                         67.265.11       NaN        NaN   NaN

                                                       Classification  \
Repository                               Object Number
Metropolitan Museum of Art, New York, NY 1979.486.1             Metal
                                         1980.264.5             Metal
                                         67.265.9               Metal
                                         67.265.10              Metal
                                         67.265.11              Metal

                                                       Rights and Reproduction  \
Repository                               Object Number
Metropolitan Museum of Art, New York, NY 1979.486.1                        NaN
                                         1980.264.5                        NaN
                                         67.265.9                          NaN
                                         67.265.10                         NaN
                                         67.265.11                         NaN

                                                                                           Link Resource  \
Repository                               Object Number
Metropolitan Museum of Art, New York, NY 1979.486.1     http://www.metmuseum.org/art/collection/search/1
                                         1980.264.5     http://www.metmuseum.org/art/collection/search/2
                                         67.265.9       http://www.metmuseum.org/art/collection/search/3
                                         67.265.10      http://www.metmuseum.org/art/collection/search/4
                                         67.265.11      http://www.metmuseum.org/art/collection/search/5

                                                       Metadata Date Tags
Repository                               Object Number
Metropolitan Museum of Art, New York, NY 1979.486.1              NaT  NaN
                                         1980.264.5              NaT  NaN
                                         67.265.9                NaT  NaN
                                         67.265.10               NaT  NaN
                                         67.265.11               NaT  NaN

[5 rows x 42 columns]

In [12]:
# Now I'm going to reshape the data by stacking it which should show all the variables for each indexed item.
result = metobs1.stack()
result

Repository                                Object Number
Metropolitan Museum of Art, New York, NY  1979.486.1     Is Highlight                                                        0
                                                         Is Public Domain                                                    0
                                                         Object ID                                                           1
                                                         Department                                          The American Wing
                                                         Object Name                                                      Coin
                                                                                                   ...
                                          64.118         Credit Line           Gift of Dr. and Mrs. Benjamin J. Pressman, 1964
                                                         Classification                                               Drawings
                                                         Link Resource       http://www.metmuseum.org/art/collection/search...
                                                         Metadata Date                              2019-02-01 03:50:49.477000
                                                         Tags                                                            Trees
Length: 232036, dtype: object

In [ ]:
# Interesting, not sure what you can do to expand the cell and not have it wrap around because that's annoying.

***Chapter 10 Tasks***

In [9]:
# Import necessary libraries
import numpy as np
import pandas as pd

In [46]:
# I'm going to use my candy df from chapter 7 that has assigned values to Joy, Meh, and Despair
candy.head()

,Timestamp,How old are you?,Are you going actually going trick or treating yourself?,[Butterfinger],[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],[Bonkers],[Bottle Caps],...,"Fill in the blank: ""Imitation is a form of ____________""",Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"[Sea-salt flavored stuff, probably chocolate, since this is the ""it"" flavor of the year]",[Necco Wafers],"Which day do you prefer, Friday or Sunday?"
0,2015-10-23 08:46:20.451,35,No,5.0,NaN,1.0,5.0,NaN,NaN,NaN,...,Lazily flattering someone,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,1,NaN,NaN,NaN
1,2015-10-23 08:46:51.583,41,No,5.0,5.0,1.0,5.0,1.0,1.0,5.0,...,Laziness,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,5.0,1.0,NaN
2,2015-10-23 08:47:34.285,33,No,1.0,1.0,1.0,5.0,1.0,1.0,1.0,...,Lazily flattering someone,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,5.0,1.0,NaN
3,2015-10-23 08:47:58.964,31,No,5.0,5.0,1.0,5.0,1.0,1.0,5.0,...,Lazily flattering someone,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,5.0,1.0,NaN
4,2015-10-23 08:48:11.719,30,No,NaN,5.0,1.0,5.0,NaN,NaN,NaN,...,Lazily flattering someone,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,NaN,NaN,NaN

In [48]:
# Clean up column names a little bit
cleaner_candy = candy.rename(columns=lambda x: x.strip().lower().replace('[', '').replace(']', ''))
cleaner_candy.head()

,timestamp,how old are you?,are you going actually going trick or treating yourself?,butterfinger,100 grand bar,anonymous brown globs that come in black and orange wrappers,any full-sized candy bar,black jacks,bonkers,bottle caps,...,"fill in the blank: ""imitation is a form of ____________""",please estimate the degree(s) of separation you have from the following celebrities jk rowling,please estimate the degree(s) of separation you have from the following celebrities jj abrams,please estimate the degree(s) of separation you have from the following celebrities beyoncé,please estimate the degree(s) of separation you have from the following celebrities bieber,please estimate the degree(s) of separation you have from the following celebrities kevin bacon,please estimate the degree(s) of separation you have from the following celebrities francis bacon (1561 - 1626),"sea-salt flavored stuff, probably chocolate, since this is the ""it"" flavor of the year",necco wafers,"which day do you prefer, friday or sunday?"
0,2015-10-23 08:46:20.451,35,No,5.0,NaN,1.0,5.0,NaN,NaN,NaN,...,Lazily flattering someone,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,1,NaN,NaN,NaN
1,2015-10-23 08:46:51.583,41,No,5.0,5.0,1.0,5.0,1.0,1.0,5.0,...,Laziness,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,5.0,1.0,NaN
2,2015-10-23 08:47:34.285,33,No,1.0,1.0,1.0,5.0,1.0,1.0,1.0,...,Lazily flattering someone,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,5.0,1.0,NaN
3,2015-10-23 08:47:58.964,31,No,5.0,5.0,1.0,5.0,1.0,1.0,5.0,...,Lazily flattering someone,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,5.0,1.0,NaN
4,2015-10-23 08:48:11.719,30,No,NaN,5.0,1.0,5.0,NaN,NaN,NaN,...,Lazily flattering someone,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,NaN,NaN,NaN

In [51]:
# Subset a small piece of the data to work with
piece_of_candy = cleaner_candy[['butterfinger', '100 grand bar', 
                               'anonymous brown globs that come in black and orange wrappers', 
                               'any full-sized candy bar', 'black jacks', 'bonkers', 'bottle caps']]
piece_of_candy.head()

,butterfinger,100 grand bar,anonymous brown globs that come in black and orange wrappers,any full-sized candy bar,black jacks,bonkers,bottle caps
0,5.0,NaN,1.0,5.0,NaN,NaN,NaN
1,5.0,5.0,1.0,5.0,1.0,1.0,5.0
2,1.0,1.0,1.0,5.0,1.0,1.0,1.0
3,5.0,5.0,1.0,5.0,1.0,1.0,5.0
4,NaN,5.0,1.0,5.0,NaN,NaN,NaN

In [55]:
# Create dictionary mapping
mapping = {'butterfinger': 'chocolate', '100 grand bar': 'chocolate', 
           'anonymous brown globs that come in black and orange wrappers': 'chews', 
           'any full-sized candy bar': 'chocolate', 'black jacks': 'hard candy', 'bonkers': 'hard candy',
           'bottle caps': 'hard candy'}

In [57]:
# Group by the dictionary mapping 
by_types = piece_of_candy.groupby(mapping, axis=1)

In [58]:
# Sum up the total of scores by type for each observation
by_types.sum()

      chews  chocolate  hard candy
0       1.0       10.0         0.0
1       1.0       15.0         7.0
2       1.0        7.0         3.0
3       1.0       15.0         7.0
4       1.0       10.0         0.0
...     ...        ...         ...
5625    1.0        7.0         7.0
5626    1.0       15.0         3.0
5627    1.0       10.0         1.0
5628    5.0       15.0        15.0
5629    1.0       11.0         7.0

[5630 rows x 3 columns]

In [59]:
piece_of_candy.groupby(mapping, axis=1).describe()

                                                                count  \
chews      anonymous brown globs that come in black and or...  5332.0
chocolate  butterfinger                                        5247.0
           100 grand bar                                       4974.0
           any full-sized candy bar                            5353.0
hard candy black jacks                                         4639.0
           bonkers                                             4448.0
           bottle caps                                         5034.0

                                                                   mean  \
chews      anonymous brown globs that come in black and or...  1.413353
chocolate  butterfinger                                        4.147703
           100 grand bar                                       3.759148
           any full-sized candy bar                            4.719783
hard candy black jacks                                         1.292304
           bonkers                                             1.480216
           bottle caps                                         2.638458

                                                                    std  min  \
chews      anonymous brown globs that come in black and or...  1.217715  1.0
chocolate  butterfinger                                        1.638075  1.0
           100 grand bar                                       1.850509  1.0
           any full-sized candy bar                            1.021049  1.0
hard candy black jacks                                         1.041158  1.0
           bonkers                                             1.300245  1.0
           bottle caps                                         1.967246  1.0

                                                               25%  50%  75%  \
chews      anonymous brown globs that come in black and or...  1.0  1.0  1.0
chocolate  butterfinger                                        5.0  5.0  5.0
           100 grand bar                                       1.0  5.0  5.0
           any full-sized candy bar                            5.0  5.0  5.0
hard candy black jacks                                         1.0  1.0  1.0
           bonkers                                             1.0  1.0  1.0
           bottle caps                                         1.0  1.0  5.0

                                                               max
chews      anonymous brown globs that come in black and or...  5.0
chocolate  butterfinger                                        5.0
           100 grand bar                                       5.0
           any full-sized candy bar                            5.0
hard candy black jacks                                         5.0
           bonkers                                             5.0
           bottle caps                                         5.0

In [67]:
# As we can see, there are some Nan values in our dataset. I'm using the means listed in the describe stats above to 
# estimate what the mode for that group type would be.
piece_of_candy

,butterfinger,100 grand bar,anonymous brown globs that come in black and orange wrappers,any full-sized candy bar,black jacks,bonkers,bottle caps
0,5.0,NaN,1.0,5.0,NaN,NaN,NaN
1,5.0,5.0,1.0,5.0,1.0,1.0,5.0
2,1.0,1.0,1.0,5.0,1.0,1.0,1.0
3,5.0,5.0,1.0,5.0,1.0,1.0,5.0
4,NaN,5.0,1.0,5.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
5625,1.0,1.0,1.0,5.0,1.0,1.0,5.0
5626,5.0,5.0,1.0,5.0,1.0,1.0,1.0
5627,NaN,5.0,1.0,5.0,NaN,NaN,1.0
5628,5.0,5.0,5.0,5.0,5.0,5.0,5.0
5629,1.0,5.0,1.0,5.0,1.0,1.0,5.0

In [68]:
# I am going to use split/apply/combine to fill in the NaNs of each candy with the estimated mode.
fill_values = {'chews': 1, 'chocolate': 5, 'hard candy': 3}
fill_func = lambda g: g.fillna(fill_values[g.name])
piece_of_candy.groupby(mapping, axis=1).apply(fill_func)

,butterfinger,100 grand bar,anonymous brown globs that come in black and orange wrappers,any full-sized candy bar,black jacks,bonkers,bottle caps
0,5.0,5.0,1.0,5.0,3.0,3.0,3.0
1,5.0,5.0,1.0,5.0,1.0,1.0,5.0
2,1.0,1.0,1.0,5.0,1.0,1.0,1.0
3,5.0,5.0,1.0,5.0,1.0,1.0,5.0
4,5.0,5.0,1.0,5.0,3.0,3.0,3.0
...,...,...,...,...,...,...,...
5625,1.0,1.0,1.0,5.0,1.0,1.0,5.0
5626,5.0,5.0,1.0,5.0,1.0,1.0,1.0
5627,5.0,5.0,1.0,5.0,3.0,3.0,1.0
5628,5.0,5.0,5.0,5.0,5.0,5.0,5.0
5629,1.0,5.0,1.0,5.0,1.0,1.0,5.0

***Chapter 11 Tasks***

In [10]:
# Choosing to use the candy dataset for this since there is a timestamp
candy = pd.read_excel("CANDY-HIERARCHY-2015-SURVEY-Responses.xlsx")
candy.dropna(axis=1, how='all', inplace=True)
candy.replace({'JOY': 5, 'MEH': 3, 'DESPAIR': 1}, inplace=True)
candy.head()

,Timestamp,How old are you?,Are you going actually going trick or treating yourself?,[Butterfinger],[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],[Bonkers],[Bottle Caps],...,"Fill in the blank: ""Imitation is a form of ____________""",Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"[Sea-salt flavored stuff, probably chocolate, since this is the ""it"" flavor of the year]",[Necco Wafers],"Which day do you prefer, Friday or Sunday?"
0,2015-10-23 08:46:20.451,35,No,5.0,NaN,1.0,5.0,NaN,NaN,NaN,...,Lazily flattering someone,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,1,NaN,NaN,NaN
1,2015-10-23 08:46:51.583,41,No,5.0,5.0,1.0,5.0,1.0,1.0,5.0,...,Laziness,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,5.0,1.0,NaN
2,2015-10-23 08:47:34.285,33,No,1.0,1.0,1.0,5.0,1.0,1.0,1.0,...,Lazily flattering someone,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,5.0,1.0,NaN
3,2015-10-23 08:47:58.964,31,No,5.0,5.0,1.0,5.0,1.0,1.0,5.0,...,Lazily flattering someone,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,5.0,1.0,NaN
4,2015-10-23 08:48:11.719,30,No,NaN,5.0,1.0,5.0,NaN,NaN,NaN,...,Lazily flattering someone,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,NaN,NaN,NaN

In [26]:
# Change the column into a datetime
from datetime import datetime
pd.to_datetime(candy['Timestamp'])

0      2015-10-23 08:46:20.451
1      2015-10-23 08:46:51.583
2      2015-10-23 08:47:34.285
3      2015-10-23 08:47:58.964
4      2015-10-23 08:48:11.719
                 ...
5625   2015-10-31 05:23:40.526
5626   2015-10-31 05:29:26.937
5627   2015-10-31 06:13:29.083
5628   2015-10-31 06:26:52.566
5629   2015-10-31 06:41:31.904
Name: Timestamp, Length: 5630, dtype: datetime64[ns]

In [7]:
# I'm going to groupby and offset the data to the month end to calculate the means. To do this I have to import 
# the MonthEnd from the pandas tseries library
from pandas.tseries.offsets import MonthEnd

In [20]:
offset = MonthEnd()
candy.groupby(offset.rollforward).mean()

,[Butterfinger],[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],[Bonkers],[Bottle Caps],[Box’o’ Raisins],[Brach products (not including candy corn)],[Bubble Gum],...,[Peanut Butter Bars],[Peanut Butter Jars],[Trail Mix],[Twix],[Vicodin],[White Bread],[Whole Wheat anything],[York Peppermint Patties],"[Sea-salt flavored stuff, probably chocolate, since this is the ""it"" flavor of the year]",[Necco Wafers]
1970-01-31 00:00:00.000000000,5.0,NaN,1.0,5.0,NaN,NaN,NaN,NaN,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970-01-31 00:00:00.000000001,5.0,5.0,1.0,5.0,1.0,1.0,5.0,1.0,1.0,1.0,...,5.0,1.0,1.0,5.0,5.0,1.0,1.0,1.0,5.0,1.0
1970-01-31 00:00:00.000000002,1.0,1.0,1.0,5.0,1.0,1.0,1.0,5.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,5.0,5.0,1.0
1970-01-31 00:00:00.000000003,5.0,5.0,1.0,5.0,1.0,1.0,5.0,1.0,1.0,1.0,...,5.0,1.0,1.0,5.0,5.0,1.0,1.0,1.0,5.0,1.0
1970-01-31 00:00:00.000000004,NaN,5.0,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1970-01-31 00:00:00.000005625,1.0,1.0,1.0,5.0,1.0,1.0,5.0,1.0,5.0,5.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,5.0,1.0,1.0
1970-01-31 00:00:00.000005626,5.0,5.0,1.0,5.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,5.0,1.0,1.0,1.0,1.0,1.0,1.0
1970-01-31 00:00:00.000005627,NaN,5.0,1.0,5.0,NaN,NaN,1.0,NaN,1.0,1.0,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN
1970-01-31 00:00:00.000005628,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,1.0,...,5.0,5.0,5.0,5.0,1.0,1.0,1.0,5.0,5.0,5.0
1970-01-31 00:00:00.000005629,1.0,5.0,1.0,5.0,1.0,1.0,5.0,1.0,1.0,1.0,...,1.0,1.0,1.0,5.0,1.0,1.0,1.0,5.0,1.0,5.0

In [ ]:
# That didn't work like the book showed. It was supposed to calculate and print out the means of all the observations
# grouped by month. And look at the timestamps...it's like they are from the beginning of pandas.

In [4]:
# After messing with that forever, I'm going to take a different route. I'm going to generate a date range and add it
# to the metobs dataframe. 
# Read in file using pandas
metobs = pd.read_excel("metobs.xlsx")
metobs

,Object Number,Is Highlight,Is Public Domain,Object ID,Department,Object Name,Title,Culture,Period,Dynasty,...,Locale,Locus,Excavation,River,Classification,Rights and Reproduction,Link Resource,Metadata Date,Repository,Tags
0,1979.486.1,0.0,0.0,1.0,The American Wing,Coin,One-dollar Liberty Head Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/1,NaT,"Metropolitan Museum of Art, New York, NY",NaN
1,1980.264.5,0.0,0.0,2.0,The American Wing,Coin,Ten-dollar Liberty Head Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/2,NaT,"Metropolitan Museum of Art, New York, NY",NaN
2,67.265.9,0.0,0.0,3.0,The American Wing,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/3,NaT,"Metropolitan Museum of Art, New York, NY",NaN
3,67.265.10,0.0,0.0,4.0,The American Wing,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/4,NaT,"Metropolitan Museum of Art, New York, NY",NaN
4,67.265.11,0.0,0.0,5.0,The American Wing,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/5,NaT,"Metropolitan Museum of Art, New York, NY",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10827,1974.356.1 recto,0.0,0.0,11814.0,The American Wing,Watercolor,"Rialto Bridge (Covered Bridge, Venice)",American,NaN,NaN,...,NaN,NaN,NaN,NaN,Drawings,NaN,http://www.metmuseum.org/art/collection/search...,2019-02-01 03:50:49.477,"Metropolitan Museum of Art, New York, NY",Animals|Bridges|Men|Women|Boats
10828,54.143.8,0.0,0.0,11815.0,The American Wing,Watercolor,The Rider,American,NaN,NaN,...,NaN,NaN,NaN,NaN,Drawings,NaN,http://www.metmuseum.org/art/collection/search...,2019-02-01 03:50:49.477,"Metropolitan Museum of Art, New York, NY",Horse Riding|Trees
10829,1976.201.4,0.0,0.0,11816.0,The American Wing,Watercolor,"Umbrellas in the Rain, Venice",American,NaN,NaN,...,NaN,NaN,NaN,NaN,Drawings,NaN,http://www.metmuseum.org/art/collection/search...,2019-10-10 08:54:23.720,"Metropolitan Museum of Art, New York, NY",Rain|Human Figures
10830,64.118,0.0,0.0,11817.0,The American Wing,Watercolor,Worship of Moloch (The Golden Idol),American,NaN,NaN,...,NaN,NaN,NaN,NaN,Drawings,NaN,http://www.metmuseum.org/art/collection/search...,2019-02-01 03:50:49.477,"Metropolitan Museum of Art, New York, NY",Trees
10831,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN

In [6]:
# We see that metobs is 10832 rows. I will create a date index to merge with the dataframe.
metobs['DateTime'] = pd.date_range(start='2012-04-01', periods=10832, freq='H')
metobs.head()

,Object Number,Is Highlight,Is Public Domain,Object ID,Department,Object Name,Title,Culture,Period,Dynasty,...,Locus,Excavation,River,Classification,Rights and Reproduction,Link Resource,Metadata Date,Repository,Tags,DateTime
0,1979.486.1,0.0,0.0,1.0,The American Wing,Coin,One-dollar Liberty Head Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/1,NaT,"Metropolitan Museum of Art, New York, NY",NaN,2012-04-01 00:00:00
1,1980.264.5,0.0,0.0,2.0,The American Wing,Coin,Ten-dollar Liberty Head Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/2,NaT,"Metropolitan Museum of Art, New York, NY",NaN,2012-04-01 01:00:00
2,67.265.9,0.0,0.0,3.0,The American Wing,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/3,NaT,"Metropolitan Museum of Art, New York, NY",NaN,2012-04-01 02:00:00
3,67.265.10,0.0,0.0,4.0,The American Wing,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/4,NaT,"Metropolitan Museum of Art, New York, NY",NaN,2012-04-01 03:00:00
4,67.265.11,0.0,0.0,5.0,The American Wing,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/5,NaT,"Metropolitan Museum of Art, New York, NY",NaN,2012-04-01 04:00:00

In [10]:
# Let's make the DateTime column the index. 
metobs.set_index('DateTime', drop=False, inplace=True)
metobs.head()

,Object Number,Is Highlight,Is Public Domain,Object ID,Department,Object Name,Title,Culture,Period,Dynasty,...,Locus,Excavation,River,Classification,Rights and Reproduction,Link Resource,Metadata Date,Repository,Tags,DateTime
DateTime,,,,,,,,,,,,,,,,,,,,,
2012-04-01 00:00:00,1979.486.1,0.0,0.0,1.0,The American Wing,Coin,One-dollar Liberty Head Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/1,NaT,"Metropolitan Museum of Art, New York, NY",NaN,2012-04-01 00:00:00
2012-04-01 01:00:00,1980.264.5,0.0,0.0,2.0,The American Wing,Coin,Ten-dollar Liberty Head Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/2,NaT,"Metropolitan Museum of Art, New York, NY",NaN,2012-04-01 01:00:00
2012-04-01 02:00:00,67.265.9,0.0,0.0,3.0,The American Wing,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/3,NaT,"Metropolitan Museum of Art, New York, NY",NaN,2012-04-01 02:00:00
2012-04-01 03:00:00,67.265.10,0.0,0.0,4.0,The American Wing,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/4,NaT,"Metropolitan Museum of Art, New York, NY",NaN,2012-04-01 03:00:00
2012-04-01 04:00:00,67.265.11,0.0,0.0,5.0,The American Wing,Coin,Two-and-a-Half Dollar Coin,NaN,NaN,NaN,...,NaN,NaN,NaN,Metal,NaN,http://www.metmuseum.org/art/collection/search/5,NaT,"Metropolitan Museum of Art, New York, NY",NaN,2012-04-01 04:00:00

In [11]:
# Now let's try the whole offset thing again, but since we have no good data to find the mean of, how about we count
# the number of observations in the groups. 
offset = MonthEnd()
metobs.groupby(offset.rollforward).count()

,Object Number,Is Highlight,Is Public Domain,Object ID,Department,Object Name,Title,Culture,Period,Dynasty,...,Locus,Excavation,River,Classification,Rights and Reproduction,Link Resource,Metadata Date,Repository,Tags,DateTime
2012-04-30 00:00:00,30,30,30,30,30,30,30,21,0,0,...,0,0,0,30,0,30,22,30,6,30
2012-04-30 01:00:00,30,30,30,30,30,30,30,23,0,0,...,0,0,0,30,0,30,24,30,6,30
2012-04-30 02:00:00,30,30,30,30,30,30,30,22,0,0,...,0,0,0,30,0,30,27,30,11,30
2012-04-30 03:00:00,30,30,30,30,30,30,30,25,0,0,...,0,0,0,30,0,30,23,30,6,30
2012-04-30 04:00:00,30,30,30,30,30,30,30,24,0,0,...,0,0,0,30,0,30,23,30,7,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-06-30 19:00:00,25,25,25,25,25,25,25,25,0,0,...,0,0,0,25,0,25,25,25,25,25
2013-06-30 20:00:00,25,25,25,25,25,25,25,25,0,0,...,0,0,0,25,0,25,25,25,25,25
2013-06-30 21:00:00,25,25,25,25,25,25,25,25,0,0,...,0,0,0,25,0,25,25,25,25,25
2013-06-30 22:00:00,25,25,25,25,25,25,25,25,0,0,...,0,0,0,25,0,25,25,25,25,25
2013-06-30 23:00:00,25,25,25,25,25,25,25,25,0,0,...,0,0,0,25,0,25,25,25,25,25

In [ ]:
# Oh, I get it. The offset worked, but I had added the hourly in there and it only rolled forward the day to the end 
# month, keeping the hourly inputs. But it did count the observations in each column for that month. Cool!